<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Fairy Chess</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/chess.js"></script>
    <script src="/js/chessboard-1.0.0.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/chessboard-1.0.0.min.css">
</head>
<body>
    <nav>
        <title>Fairy Chess</title>
        <a href='/'>Home</a>
        <a href='/editor'>Editor</a>
        <a href='/games'>Public Games</a>
        <a href='/new'>Sign Up</a>
        <a href='/login'>Log In</a>
        <a href='/profile'>Profile</a>
        <a href='/logout'>Logout</a>
    </nav>