body
{
    margin: 0;
}

nav 
{
    overflow: hidden;
    color: white;
    background-color: lightslategrey;
    width: 100%;
}

nav a
{
    float: left;
    display: block;
    padding-right: 16px;
    padding-bottom: 14px;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav h2
{
    text-align: left; 
    padding-right: 30px;
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.thumbnail iframe
{
    width: 260px;
    height: 260px;
}

.sideAdjust
{
    display: inline-flex;
}

.itemAdjust
{
    flex: 1;
}

.success 
{
    background: green;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
}
  
.error 
{
    background: red;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
}

.float-child
{
    float: left;
    padding: 13px;
}

.float-child-right
{
    float: left;
    padding: 13px;
}

.container1
{
    margin: auto;
    width: 50%;
}