body {
    margin: 0;
}

nav {
    overflow: hidden;
    padding-left: 20px;
    color: white;
    background-color: lightslategrey;
    width: 100%;
}

nav a
{
    float: left;
    display: block;
    padding-right: 16px;
    padding-bottom: 14px;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav h2
{
    text-align: left; 
    padding-right: 30px;
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail iframe
{
    width: 275px;
    height: 275px;
}
