<%- include('../partials/header.ejs')%>
<div class="container">
    <!-- The chess board -->
    <div id="board" style="width: 500px; margin: auto"></div>
</div>
<script src="/js/editor.js"></script>

</body>
</html>