<%- include('../partials/header.ejs')%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<div class="container">
  <h3>Welcome to FairyChess!</h3>
  <p>The new way to customize and play games, feel free to make your own games or explore around!</p>
</div>

</body>

</html>