<%- include('../partials/header.ejs') %>
<h2 style="text-align: center;">Login</h2>
<div class="center">
    <form action='/login' method="POST">
        <label for='username'>Username: </label><br>
        <input type='text' name='username' id='username' required><br><br>
        <label for='password'>Password: </label><br>
        <input type='text' name='password' id='password' required><br><br>
        <button>Log In</button>
    </form>
</div>