<%- include('../partials/header.ejs') %>
<form action="/" method="POST">
    <label for="firstName">First Name</label><br>
    <input type="text" id="firstName" name="firstName" required><br><br>
    <label for="lastName">Last Name</label><br>
    <input type="text" id="lastName" name="lastName" required><br><br>
    <label for="email">Email</label><br>
    <input type="text" id="email" name="email" required><br><br>
    <label for="password">Password</label><br>
    <input type="text" id="password" name="password" required><br><br>
    <button>Sign Up</button>
</form>