<%- include('../partials/header.ejs')%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<div class="container">
  <!-- The chess board -->
  <div id="board" style="width: 500px; margin: auto"></div>
</div>

<script src="/js/game.js"></script>
</body>

</html>